* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
img {
  width: 100%;
  height: 100%;
}

:root {
  --primary-color: #131313;
  --secondary-color: #424242;
  --tertiary-color: #727272;
  --white: #fff;
  --button-color: #ff900e;
}

/* ------------------------------------
            Reuseable Codes
--------------------------------------- */

.section-title {
  font-size: 2.8125rem;
  font-weight: 700;
  color: var(--primary-color);
}
.new-line {
  display: block;
}

.desc-texts {
  font-size: 1rem;
  color: var(--tertiary-color);
  font-weight: 400;
  line-height: 1.5rem;
  padding-top: 25px;
  padding-bottom: 32px;
}
.action-button {
  padding: 20px 25px;
  border-radius: 5px;
  color: var(--white);
  border: none;
  background-color: var(--button-color);
  font-weight: 600;
  font-size: 1.2rem;
}

/* ------------------------------------
            Header Styles
--------------------------------------- */

.header-section {
  background-color: rgba(255, 144, 14, 0.1);
}
.header-container,
.main-container, .footer-section {
  max-width: 1250px;
  margin: 0 auto;
  padding: 50px;
}

/* Navigation Styles */
.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 700;
}

.menu-links ul {
  display: flex;
  gap: 25px;
  list-style: none;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

/* Her0 section */
.hero-section {
  margin-top: 100px;
  row-gap: 50px;
}
.hero-section-container {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.hero-texts {
  text-align: center;
}
.hero-title {
  font-size: 4rem;
  color: var(--primary-color);
  font-weight: 700;
}

.hero-texts .desc-texts {
  max-width: 800px;
  margin: 0 auto;
}

/* ------------------------------------
            Quick List Section
--------------------------------------- */
.quick-list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 76px;
  align-items: center;
  justify-content: center;
}

.quick-list-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.quick-list-gallery img {
  border-radius: 5px;
}
.quick-list-article .desc-texts {
  max-width: 600px;
  margin: 0 auto;
}
.gray-title {
  color: var(--tertiary-color);
  font-weight: 500;
}
.colored-title {
  color: var(--button-color);
}

/* ------------------------------------
            Features Section
--------------------------------------- */
.features-section {
  margin-top: 100px;
}

.features-container {
  display: flex;
  gap: 100px;
  /* position: relative; */
}

.features-articles {
  max-width: 50%;
}

.features-articles .section-title {
  padding-left: 30px;
  border-left: 5px solid var(--button-color);
}

.features-articles .desc-texts {
  max-width: 500px;
}

.features {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  position: relative;
}
.feature {
  padding: 25px;
  box-shadow: 0 0 10px 5px rgb(247, 247, 247);
  border-radius: 5px;
}

.feature-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--primary-color);
}

.feature .desc-texts {
  padding: 0;
  margin-top: 10px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.features-image {
  max-width: 50%;
  position: relative;
}

/* .features-image .action-button {
  position: relative;
  bottom: 120px;
  right: 70px;
  font-weight: 400;
  padding: 45px;
}
.features-image .action-button .new-line {
  font-size: 4rem;
  font-weight: 700;
} */
.experience-button {
  position: absolute;
  bottom: -50px;
  left: -50px;
}
.experience-button .action-button {
  padding: 45px;
}
.experience-button .action-button .new-line {
  font-size: 4rem;
  font-weight: 700;
}

/* ------------------------------
        Some Facts styles
--------------------------------- */
.some-facts-section{
  margin-top: 170px;
}
.some-facts-counters {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  column-gap: 80px;
}

.counter {
  border: 1px solid var(--button-color);
  padding: 30px 45px; 
  text-align: center;
  border-radius: 5px;
  width: 120px;
  height: 120px;
  flex-shrink: 0;
}
.counter img {
  width: 45px;
  height: 45px;
}
.counter-number {
  color: var(--secondary-color);
}
.counter-text{
  font-size: .9rem;
  color: var(--tertiary-color);
  font-weight: 600;
}

/* ---------------------------------
        Our Sponsors Styles         
------------------------------------*/
.our-sponsors-section{
  margin-top: 120px;
}
.our-sponsors-texts{
  text-align: center;
}
.sponsors-logos{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  filter: grayscale(1);
}
.sponsors-logos img{
  width: 165px;
  height: 50px;
}


/* --------------------------------------
          Footer Section
  ---------------------------------------*/

  .footer-section{
    height: 100px;
    text-align: center;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 30px 0 0;
    margin: 100px auto;

  }




/* -----------------------------------
          Responsive Design
-------------------------------------- */

@media screen and (width <= 800px) {
  .navigation-bar {
    flex-direction: column;
    row-gap: 25px;
  }
  .logo {
    font-size: 1rem;
  }
  .menu-links ul {
    gap: 16px;
    font-size: 1rem;
  }

  /* Hero section */
  .hero-title {
    font-size: 3rem;
  }
  .new-line {
    display: inline-block;
  }
  .hero-title span {
    display: inline-block;
  }

  /* Quick List Section */
  .quick-list-container {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
    row-gap: 24px;
  }
  .quick-list-article {
    text-align: center;
  }
  .quick-list-gallery {
    grid-row: 2;
  }

  /* Features Section */
  .features-container {
    flex-direction: column;
    gap: 0;
  }
  .features-articles {
    max-width: 100%;
  }
  .features-image {
    max-width: 100%;
  }
  .experience-button .action-button {
    font-weight: 400;
    padding: 20px;
  }
  .experience-button {
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
  }
  .experience-button .action-button .new-line {
    font-size: 2rem;
  }

  /* Some Facts Styles */
  .some-facts-section{
    margin-top: 100px;
  }
  .some-facts-counters {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
  }

  /* Our sponsor styles */
  .our-sponsors-section{
    margin-top: 80px;
  }
  .sponsors-logos{
    margin-top: 25px;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  .sponsors-logos img{
    width: 82.5px;
    height: 25px;
  }
  
}
